# List Comprehension
With something called **list comprehension**, you can use a for loop in line to create dictionaries and lists like this:

In [ ]:
my_list = [x**2  for x in range(6) if x%2==0] # only uses x's where the condition is true
print(my_list)

# The above code is equivalent to:
my_list = []
for x in range(6):
  if x%2 == 0:
    my_list.append(x**2)

print(my_list)

[0, 4, 16]
[0, 4, 16]

In [ ]:
my_dict = {x:x**2 for x in range(6)}
print(my_dict)

# The above code is equivalent to:
my_dict = {}
for x in range(6):
  my_dict[x] = x**2

print(my_dict)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### Exercise:
1. Create a list using list comprehension where any values between 2 and 10 inclusive that are divisible by 3 are added to the list. Assign the list to a variable called `divisible_3s`.
2. Using a for loop, print the index and the value at that index for every element in `divisible_3s`.
3. Create a dictionary using list comprehension where the key is $x^3$ and the value is $x^2$ for x's between 1 and 4 inclusive. Assign the dictionary to variable `cube_square`.
4. Print the key and value for every key, value pair in `cube_square`

# Break and Continue

`break` and `continue` are statements that can be used within loops. 

When code reaches a `continue` statement, it jumps to the next iteration of the loop without running the rest of the code in the loop.

When code reaches a `break` statement it jumps outside the loop (skipping any remaining iterations) without running the rest of the code in the loop.

A `pass` statement, finally is completely ignored. This is useful when code is required syntactically, but you don't actually want to run anything there.

For these statements it may not be entirely clear right now what their purpose is, but they become particularly useful in managing more complex code.

In [ ]:
for i in range(10):
  print('New loop')
  if i%2==0:
    continue
  print(i) # This command is skipped for all even numbers

New loop
New loop
1
New loop
New loop
3
New loop
New loop
5
New loop
New loop
7
New loop
New loop
9

In [ ]:
for i in range(10):
  print('New loop')
  if i==5:
    break # Leaves the loop completely once it encounters this statement
  print(i)

New loop
0
New loop
1
New loop
2
New loop
3
New loop
4
New loop

In [ ]:
for i in range(10):
  print('New loop')
  if i==5:
    pass # Leaves the loop completely once it encounters this statement
  print(i)

New loop
0
New loop
1
New loop
2
New loop
3
New loop
4
New loop
5
New loop
6
New loop
7
New loop
8
New loop
9

## Exercises

1. Fix this code so it runs.

In [ ]:
for i in range(10):

2. Add something we just learned about to this code so the last thing it prints is 10.

In [ ]:
for i in range(15,-1,-1):
    print(i)

3. Add something we just learned to the below code so it doesn't print multiples of 3

In [ ]:
for i in range(10):
    print(i)

# Some details on functions
## Default arguments

In [ ]:
# We cannot run fib_return without specifying n:
fib_return()

TypeError: ignored

In [ ]:
# Default arguments can be specified but don't have to be:
def fib_return (n=1):
  """ 
  Print fibonnacci series up to n.
  Args:
      n (int): Maximum value of the fibonacci series to return. Default value is 1.
  Returns:
      list: List of fibonacci sequence values
  """

  fib_list = []
  a,b = 0, 1
  while a <n:
    fib_list.append(a)
    next= a+b
    a = b
    b = next
  return fib_list

In [ ]:
fib_return()

[0]

In [ ]:
fib_return(10)

[0, 1, 1, 2, 3, 5, 8]

## Positioning arguments

For required arguments (i.e. arguments without a default), you can either specify the names of the arguments manually, or specify them by position:

In [ ]:
def f(a, b):
  print('a', a)
  print('b', b)

In [ ]:
f(1, 2)

a 1
b 2

In [ ]:
f(a=1, b=2)

a 1
b 2

In [ ]:
f(1, b=2)

a 1
b 2

In [ ]:
f(b=2, a=1)

a 1
b 2

## Warning about default arguments

Your default arguments should never be mutable. Otherwise repeated function calls can interact with each other.

In [ ]:
# mutable arguments

def f(a, L=[]):
    L.append(a)
    return L

print(f(1)) # predict what will happen?
print(f(2))
print(f(3))

[1]
[1, 2]
[1, 2, 3]

In [ ]:
# Which data types are mutable -> dictionaries and lists

In [ ]:
# Solution
def f(a, L=None):
    if L is None: # None now provides a marker that we would like to use the default argument.
        L = []
    L.append(a)
    return L
  
print(f(1))
print(f(2))
print(f(3))

[1]
[2]
[3]

## Args and kwargs

You can also use a piece of code that allows you to provide arbitrary arguments (with or without keywords) to your function. If you use `*args` as one of the arguments of your function, this will take any unnamed argument and put all of them in a tuple:

In [ ]:
def f(a, *args):
  print(a)
  print(args)
f(1, 2, 3)

1
(2, 3)

In [ ]:

f(1, 2, 3, 4)

1
(2, 3, 4)

In [ ]:
# The name args is not important
def f(a, *variable):
  print(a)
  print(variable)
f(1, 2, 3)
f(1, 2, 3, 4)

1
(2, 3)
1
(2, 3, 4)

Similarly, if you put two asterisks in front of your variable (e.g. ``**kwargs``), it will assign all names variables to kwargs (in a dictionary format).

In [ ]:
def f(a, **kwargs):
  print(a)
  print(kwargs)
f(a=1, b=2, c=3)

1
{'b': 2, 'c': 3}

Again, we're mostly explaining this so you are familiar with it later on, when it will become extremely useful.

## Exercise

Given the following definiton, predict the output of the pieces of code below:

In [ ]:
def f(a, *args, b=2, **kwargs):
  print('a', a)
  print(args)
  print('b', 2)
  print(kwargs)

1. `f(1)`
2. `f(b=1, a=1)`
3. `f(2,1)`
4. `f(c=1, a=1)`
5. `f(a=2, 2,3,4, b=3, c=4, d=8)`