In [ ]:
# Good coding convention: Move all imports to the top of your notebook/file
import pandas as pd
import numpy as np # We will also be needing numpy as pandas is tightly integrated with numpy

# Pandas and Data Visualization
## Pandas
### Motivation for pandas
Dictionaries allow us to save multiple attributes of a particular object. For example, we can store some information about a lesson:

In [ ]:
lesson_5 = {
    'topic': 'Numpy',
    'teacher': 'Sam',
    'week': 5
}

Often, we collect multiple observations for which we record the same attributes and we'd like to store them together:

In [ ]:
lesson_3 = {
    'topic': 'Basics of Python 2',
    'teacher': 'Jasmine',
    'week': 3
}
lesson_1 = {
    'topic': 'Setting up Python',
    'teacher': 'Jasmine',
    'week': 1
}

We could go about this by storing them in a list:

In [ ]:
lst_lessons = [lesson_5, lesson_3, lesson_1]

In [ ]:
lst_lessons

However, such lists are lacking a lot of functionality. For example, we may want to print out only those observations where Jasmine was the teacher. We'd have to use a for loop for this:

In [ ]:
jasmines_lessons = [
    lesson for lesson in lst_lessons if lesson['teacher'] == 'Jasmine'
]
jasmines_lessons

We therefore need a new data structure that can record multiple pieces of information about multiple observations. This is provided by `pandas` (which stands for *panel data*):

The core object in pandas is a *data frame*, which consists of observations organized along its rows and different pieces of information about its observations organized along its columns.

In [ ]:
df_lessons = pd.DataFrame(lst_lessons)
df_lessons

### Finding out basic information

In [ ]:
df_lessons.shape

In [ ]:
df_lessons.columns

### Indexing

Regular brackets return a specific column or a subset of columns:

In [ ]:
df_lessons['teacher']

(*Note:* The object that is returned is called a `pd.Series` and has a few additional features compared to a one-dimensional numpy array. I personally don't use those additional features and think they are counter-productive, but you can look them up if you have to interact with them.)

You can operate on those columns in the same way you would operate on numpy arrays:

In [ ]:
df_lessons['teacher'] == 'Jasmine'

In [ ]:
df_lessons[['topic', 'teacher']]

`.loc` allows you to index data frames by row numbers and column names:

In [ ]:
df_lessons.loc[1, 'teacher']

This also works with slicing:

In [ ]:
df_lessons.loc[1:, 'teacher']

In [ ]:
df_lessons.loc[:, ['topic', 'teacher']]

`iloc` works in the same way, but allows you to access columns according to their numerical index rather than their name:

In [ ]:
df_lessons.iloc[1, 1]

Finally you can also do boolean indexing with rectangular brackets.

In [ ]:
selector = df_lessons['teacher'] == 'Jasmine'
df_lessons[selector]

(Note that the single `=` assigns the command to the right of it to the variable on its left. The double `==` on the other hand compares the values in `df_lessons['teacher']` and determines whether they are equal to `'Jasmine'`.)

In [ ]:
df_lessons[df_lessons['teacher']=='Jasmine']

Finally, you can add new columns in the same way you would add a new key, value pair to a dictionary:

In [ ]:
df_lessons

In [ ]:
df_lessons['homework'] = [True, False, True]

In [ ]:
df_lessons

### Exercises
1. Create a data frame that additionally includes this week (week 6) with the appropriate topic (pandas) and teacher (Sam).
2. Print out the topic for the second row.
3. Subset the data frame to only print out the lessons for week 3 and higher.
4. Create a new data frame that also includes week 7's lesson with teacher Abhi. However, you don't know the topic yet. How does `pandas` represent this information? (Hint: Create a dictionary that only contains the keys `week` and `teacher`, but not `topic`. Try adding it to the list we used above and turning it into a dataframe.)
5. You could have alternately also represented this information as a two-dimensional array with observations structured along rows and variables structured along columns. What would the difference be and why might this be a bad idea in this case? Discuss with the other students at your table.

### Saving and loading a data frame
You can save data frames in different formats. A popular format is csv (comma-separated values), which represents each observation in one row and each variable separated by commas.

In [ ]:
df_lessons.to_csv('df_lessons.csv')

Let's inspect this file.

We'll be using csv files today. Note that they are not always ideal. For example, they do not save the type of your different values which can lead to issues. In my own work, I usually use the feather format, which is less commonplace, however.

In [ ]:
df_lessons_loaded = pd.read_csv('df_lessons.csv')

In [ ]:
df_lessons_loaded

### Exercises
1. Read in the file `dot_motion.csv` using pandas and assign it to the variable `df_dm`.
2. Try exploring the file and describe the data contained in it.
3. Subset the data frame to only contain the observations with a reaction time of above 100.
4. Create a new variable 'accuracy' that is 1 if the motion and the choice are matching and 0 otherwise.

#### Hint for 4:
If the motion and choice are matching, their entries should be equal. Create an array `accuracy` that contains as a boolean whether they are or are not matching. You can turn this boolean array (with True and False value) into a float array (which will assign 1 to True and 0 to False), using `accuracy.astype(float)`.

## Tidying data frames
Often, we receive data frames in a format that does not adhere to the "rows are observations, columns are variables" rule. It is not always obvious what the correct format is and this [article](https://vita.had.co.nz/papers/tidy-data.pdf) goes into some more detail if you are interested. Here we're just going to consider one example.

We'll load the data on populations for multiple countries and years contained in the file 'populations.csv'.

## Exercise
Load the data contained in 'populations.csv' and assign it to the variable `populations`. Try to understand what this data is like and what could be a problem with the format it is stored in. What could be a better format?

In [ ]:
# Load the file
populations = pd.read_csv('populations.csv')

In [ ]:
populations.shape

In [ ]:
populations

These datasets are often called *untidy*. Bringing them into the right shape is called *data tidying*. Here we need to use the function `populations.melt`.

In [ ]:
populations = populations.drop('Unnamed: 0', axis='columns')
populations

In [ ]:
populations_tidy = populations.melt(
    id_vars=['Country Name', 'Country Code'],
    var_name='year',
    value_name='population'
)

In [ ]:
populations_tidy

In [ ]:
populations_tidy.to_csv('populations_tidy.csv')

## Data visualization

## Matplotlib

Matplotlib provides some basic plotting functionality including lineplots, scatterplots, and barplots.

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
populations_tidy = pd.read_csv('populations_tidy.csv')

In [ ]:
populations_tidy

In [ ]:
# Create a data frame that only contains the population for Azerbaijan
populations_aze = populations_tidy[populations_tidy['Country Name'] == 'Azerbaijan']

In [ ]:
plt.plot(populations_aze['year'], populations_aze['population'])

### Exercise
1. Create a data frame that contains the average of all countries in the data frame for each year.
2. Plot this average as a lineplot over the years.

## Seaborn
If you want to make a more versatile plot there's another package that is often better suited: `seaborn`, which is based on matplotlib but provides a high-level interface.

Note that `seaborn` has recently had a big overhaul in its interface. The new plotting functionality is powerful, but also a bit tough to understand at first. So we'll focus here on using the old interface (which still works). We may add some supplementary material in one of the later weeks going through the new interface in detail.

In [ ]:
import seaborn as sns

In [ ]:
sns.relplot(
    data=populations_tidy, kind='line', x='year', y='population', hue='Country Name'
)