# Getting Setup
- Select intropython kernel for this Python notebook (top right corner)



# Numbers

Python can perform mathematical operations, something you will likely use if you work with data in Python. There are different types of numbers -- integers are whole numbers (no decimals) that can be either positive or negative. Floats are numbers with decimals. Python also has complex numbers but we will not cover that here.

## Addition

In [ ]:
2.0+10

12.0

In [ ]:
2+10

12

### Checking Type

In [ ]:
type(2+10) # this is a comment. type(...) tells us the type of number inside the parentheses, here 12

int

In [ ]:
type(2.0+10)  # mixed types (mixed integers / floats) convert to float

float

## Multiplication

In [ ]:
2.0*10.0

20.0

In [ ]:
2*10

20

## Subtraction

In [ ]:
50 - 5*6

20

## Division

Also, note that order of operations holds in python, and you can use parentheses to group operations.

In [ ]:
"""
this is a multiline comment. 
division always returns a float
"""

(50 - 5*6)/4

5.0

In [ ]:
type((50 - 5*6)/4)

float

### Integer Division

In [ ]:
5//8 # Integer division

0

In [ ]:
type(5//8)

int

## Modulo
Modulo is an operation that you may not be familiar with from your elementary school math classes. Modulo, `a%b`, calculates the remainder of `a` when divided by `b`.

In [ ]:
17//3

5

In [ ]:
17%3

2

In [ ]:
5*3 + 2#quotient * divisor + remainder

17

### Exercise:

What will `7%3` be?

## Exponentiation

In [ ]:
2**3 # 2 cubed

8

In [ ]:
2.5**(-3/2)

3.952847075210474

## Exercises:
For each of the following, what will the output be, and what type will it be?

1. `3 + 2/1`
2. `3 + 2 //1`
3. `3.0 + 2//1`
4. `2**2*2/3`
5. `5%2 -3`

# Defining Variables

Variables let you store values and work with them by name.

In python, variables can change types after they are created.

> Rules for Python variables:
- A variable name must start with a letter or the underscore character
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (age, Age and AGE are three different variables)

(Taken from https://www.w3schools.com/python/gloss_python_variable_names.asp)

In [ ]:
number = 17

In [ ]:
number

17

In [ ]:
quotient # undefined variable returns an error

5

In [ ]:
quotient = 17//3 # how else could we write this? (with number)
remainder = number % 3

quotient 5 remainder 2

In [ ]:
quotient

5

In [ ]:
remainder

2

In [ ]:
quotient *3 +remainder

17

# Check for equality

In [ ]:
17 == 17 # 17 is equal to 17

True

In [ ]:
17==16 # 17 is equal to 16

False

In [ ]:
quotient*3 + remainder == number

True

# Exercise: 
What will the following blocks of code give?

 

```
# Exercise 1
a = 22
b = 21
a == b
```



```
# Exercise 2
a = 22
b = 22
c = a
a == b
```


```
# Exercise 3
1a = 1
b = 22
1a == b
```

# Strings

Strings are a data type for working with text.

In [ ]:
'hello world string'

'hello world string'

In [ ]:
"also a hello world string" # can use single or double quotes

'also a hello world string'

In [ ]:
"isn't it nice to use double quotes sometimes?"

"isn't it nice to use double quotes sometimes?"

In [ ]:
'it isn\'t nice to use single quotfinetuninges sometimes' # can use the escape(\) character to use a character that would otherwise do something else.

"it isn't nice to use single quotes sometimes"

In [ ]:
'she said "single quotes can be nice too"'

'she said "single quotes can be nice too"'

In [ ]:
"she said \"but it's still doable with double quotes\""

'she said "but it\'s still doable with double quotes"'

hmm there's a weird character in there. what does it look like if we print it?

In [ ]:
print("she said \"but it's still doable with double quotes\"") # ah much better

she said "but it's still doable with double quotes"

## Print

Print is something called a function -- we will learn more about functions next time. Functions take 0 or more inputs and runs some code.

### Help

Use help to find out what a function does (sometimes hovering won't work). You can also google the function to find out what it does. The description of what a function does is called a "docstring." We will learn more about docstrings when we learn about functions next class.

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In jupyter, you can also use `print?`.

In [ ]:
print? # docstring

In [ ]:
print?? # with non built in functions, will show the code for the function

In [ ]:
print("to include a slash \\")

to include a slash \

In [ ]:
print("path\to\name") # what happened?

path	o
ame

## Raw Strings

Raw strings take characters as they are and slash is not treated as an escape.

In [ ]:
print(r"path\to\name") # make it a raw string, what else could we do (see above on including a slash)

path\to\name

## Multiline Strings

You can define strings that have multiple lines by enclosing them in triple quotes as `'''string'''` or `"""string"""`.

In [ ]:
print("start")
# without slash adds a new line at start, with escapes the newline
print("""
woah
I 
have \
many lines""")
print("""\
woah
I 
have \
many lines
""")
print("end")

start

woah
I
have many lines
woah
I
have many lines

end
start

woah
I
have many lines
woah
I
have many lines

end

## string concatenation & multiplication

You can repeat strings by multiplying them by the number of repeats you want, and you can concatenate strings using the addition symbol.

In [ ]:
'neuro'*3 + 'science'

'neuroneuroneuroscience'

## Indexing
You can extract individual characters from a string by *indexing* into the string. In Python, indexing starts from 0, so `word[0]` gives the first character in the string `word`

In [ ]:
word='neuro'
print(word)
word[0]

neuro

'n'

In [ ]:
word[5] # because we start from 0 and there are 5 letters in word, 5 is out of range.

IndexError: string index out of range

In [ ]:
len(word) # get the length of word. There are five characters in the string word -- n, e, u, r, and o

5

In [ ]:
word[4]

'o'

In [ ]:
word[-1] # we can get the last character by using -1

'o'

In [ ]:
word[-2] # second from last

'r'

In [ ]:
word[-6] # sixth from last

IndexError: string index out of range

## Strings are Immutable

This means that you cannot the value of an element in the string, so for example, `word[0]='N'` will not work.

In [ ]:
word[0] = 'N'

NameError: ignored

## Exercise

What will the following print statements print?

```
exercise_word = "exercise\\"


print(exercise_word) #1
print(len(exercise_word)) #2
print(exercise_word[1]) #3
print(exercise_word[9]) #4
print(exercise_word[-1]) #5
print(exercise_word*3 + "rest") #6
exercise_word[-1] = ''
print(exercise_word) #7
exercise_word = "new exercise word"
print(exercise_word) #8
```

# Lists

Lists let you define a sequence of anything -- strings, integers, floats, other lists, etc. 

Many of the same operations that work with strings also work with lists. The main difference is that lists are mutable, which means that you can change elements of the list after it has been created.

In [ ]:
teachers = ['Abhi', 'Sam', 'jasmine']

In [ ]:
teachers[0]

'Abhi'

In [ ]:
teachers[-1]

'jasmine'

In [ ]:
teachers*3

['Abhi', 'Sam', 'jasmine', 'Abhi', 'Sam', 'jasmine', 'Abhi', 'Sam', 'jasmine']

We will learn about slicing next time, but for now note that slicing returns a copy of a list.

In [ ]:
teachers_shallow_copy = teachers[:] # shallow here means that if I make a copy of a list of lists, the nested lists will not be copies of the original.
teachers_pointer = teachers

why does this matter? Lists are mutable

In [ ]:
teachers +=['ishani', 'sharon', 'ben']

In [ ]:
teachers[2] = 'Jasmine' # capitalize my name

In [ ]:
teachers

['Abhi', 'Sam', 'Jasmine', 'ishani', 'sharon', 'ben']

In [ ]:
teachers_shallow_copy # Didn't change!

['Abhi', 'Sam', 'jasmine']

In [ ]:
teachers_pointer # Did change!

['Abhi', 'Sam', 'Jasmine', 'ishani', 'sharon', 'ben']

### Exercise

1. Are strings mutable or immutable?
2. Are lists mutable or immutable?
3. What will the following codeblock print?

```
grocery_list = ['apples']
grocery_list_a = grocery_list[:]
grocery_list_b = grocery_list
grocery_list+=['pears']
print(grocery_list) # 1
print(grocery_a) # 2
print(grocery_list_b) # 3
```

## Append

In [ ]:
teachers.append('elom')

In [ ]:
teachers

['Abhi', 'Sam', 'Jasmine', 'ishani', 'sharon', 'ben', 'elom']

In [ ]:
teachers_shallow_copy

['Abhi', 'Sam', 'jasmine']

## Removing elements from a list

In [ ]:
teachers[1] = []

In [ ]:
teachers

['Abhi']

## List of Lists

In [ ]:
n=[1,2,3]
s = ['a', 'b', 'c']
list_of_list = [n,s]
shallow_copy_list_of_list = list_of_list[:]

In [ ]:
list_of_list

[[1, 2, 3], ['a', 'b', 'c']]

In [ ]:
s.append(n)
print(s)

['a', 'b', 'c', [1, 2, 3]]

In [ ]:
s.extend(n)
print(s)

['a', 'b', 'c', [1, 2, 3], 1, 2, 3]

In [ ]:
# will list_of_list have changed?

list_of_list

[[1, 2, 3], ['a', 'b', 'c', [1, 2, 3], 1, 2, 3]]

In [ ]:
# What about the shallow copy of list_of_list
shallow_copy_list_of_list

[[1, 2, 3], ['a', 'b', 'c', [1, 2, 3], 1, 2, 3]]

## Exercise:

What will the following code block print?
For each print statement, comment what you think it will be and then test before moving on to the next print statement.

```
test_list = []
test_list +=['do']
test_list.append('re')
test_list.append(['fa', 'so'])
test_list.extend(['la', 'ti'])
print(len(list)) #1
print(test_list) #2
list_copy = test_list[:]
list_pointer = test_list
print(test_list[2]) #3
test_list[2][0] = []
print(test_list) #4
print(list_copy) #5
print(list_pointer) #6

test_list[3] = []
print(test_list) #7
print(list_copy) #8
print(list_pointer) #9
```

# Bools

## Comparison operations
* less than or equal `<=` 
* less than `<`
* greater than or equal `>=` 
* greater than `>` 
* not equal `!=`
* is equal to `==`

In [ ]:
print(8<10)
print(10 < 10)
print(10 <= 10)

True
False
True

In [ ]:
True and True

True

In [ ]:
True and False

False

In [ ]:
True or False

True

In [ ]:
False or False

False

In [ ]:
True or True

True

In [ ]:
not True

False

In [ ]:
neuroscience ='fun'
python = 'fun'

In [ ]:
if neuroscience == 'fun' or python == 'fun':
    print('yay')

yay

In [ ]:
if neuroscience == 'fun' and python == 'fun':
    print('welcome to the class')

welcome to the class

most things evaluate to true except for the empty string, empty list, and 0, as well as empty tuple and empty dictionaries (more about these data types in a moment)

What is each of the datatypes inside the parentheses?

In [ ]:
bool(1)

True

In [ ]:
bool('')

False

In [ ]:
bool(0)

False

In [ ]:
bool(0.0)

False

In [ ]:
bool([])

False

In [ ]:
bool(()) # tuple

False

In [ ]:
bool({}) # dictionary

False

In [ ]:

bool(None) #NoneType -- this is a special type often used a placeholder. We will see more about it next time.

False

In [ ]:
type(None)

NoneType

## If / else

In [ ]:
num = 9

In [ ]:
if num%2 ==1:
    print("odd")

odd

In [ ]:
if num%2 ==1:
    print("odd")
else:
    print("even")

odd

In [ ]:
num = 24
if num %2 ==1:
  print("odd")

elif num %3 == 0: # else if
  print("divisible by 6")
else:
  print("even and not divisible by 6")

divisible by 6

## Exercise
Write something so that, given a variable called `my_number`:
-   if it is not an integer, it prints "please give me an integer"
- if it is less than 0 it prints "negative"
- if it is between 0 and 10 it prints "digit"
- if it is 10 or above prints "we can't count this on our hands"


Test it out by setting `my_number` to a few different values and making sure it does what you want / expect.

# Other datatypes: Dicts, Tuples

## Dictionaries

Dictionaries are a mutable datatype consistenting of key and value pairs. They are good for quickly accessing the values of arbitrary keys. Keys and values can both be any data type.

Dictionaries look like this:
```
{
  key0: value0,
  key1: value1,
  key2: value2
}
```

In [ ]:
# Dictionaries:
monkey_A = {
'spiketimes': [0,20,34,56],
'name': 'Einstein',
}

In [ ]:
monkey_A

{'spiketimes': [0, 20, 34, 56], 'name': 'Einstein'}

In [ ]:
monkey_A.keys() # lists the keys in the dictionary

dict_keys(['spiketimes', 'name'])

In [ ]:
monkey_A['spiketimes'] # gets the value at the key inside the brackets

[0, 20, 34, 56]

What will `monkey_A['name']` output?

Guess, and then type and run below.

In [ ]:
monkey_A['lab'] = 'Churchland' # adds key, value pair to dictionary ('lab' is the key, 'Churchland' is the value)

In [ ]:
'lab' in monkey_A # test if a key is in a dictionary

True

In [ ]:
print(monkey_A)

{'spiketimes': [0, 20, 34, 56], 'name': 'Einstein', 'lab': 'Churchland'}

In [ ]:
del monkey_A['lab'] # delete a key value pair
'lab' in monkey_A

False

you can create dictionaries from lists and by setting keys equal to values using the `dict` constructor

In [ ]:
dict([(1,'Jasmine'), (2, 'Jasmine'), (3, 'Jasmine'), (4, 'Sam'), (5,'Sam')])

{1: 'Jasmine', 2: 'Jasmine', 3: 'Jasmine', 4: 'Sam', 5: 'Saum'}

In [ ]:
dict(instructor_1 = 'Jasmine', instructor_2 = 'Sam', instructor_3 = 'Abhi')

{'instructor_1': 'Jasmine', 'instructor_2': 'Sam', 'instructor_3': 'Abhi'}





### Exercise

1. Create a dictionary (using any of the above methods) of what you would order for lunch if you could. Have the keys be the menu items, and the values be their prices. Store the dictionary in a variable called `lunch_menu`
2. Print out the keys of the dictionary.
3. Get the price for a menu item out of the dictionary.
4. Check if a certain menu item is in the dictionary.
5. Delete that menu item from the dictionary.
6. Check again if that menu item is in the dictionary.

## Tuples 
Tuples are static, or immutable. Like strings, you cannot modify them once you have created them. Slicing works with tuples like it works with lists. Tuples are useful when you want to make sure something cannot accidentally get modified, and we will use them when we learn about functions next class.

In [ ]:
my_tup = 'test',0,1

In [ ]:
my_tup

('test', 0, 1)

In [ ]:
my_tup[0]

'test'

What will `my_tup[1]` output? Guess before typing and checking below.

(0, 1)

In [ ]:
my_tup[0] = 'it worked' # will this line work? Guess before trying.

TypeError: ignored

In [ ]:
my_tup + 0 # what about this?

TypeError: ignored

In [ ]:
my_tup + (0,) # creates a new tuple, but my_tup is unchanged.

('test', 0, 1, 0)

In [ ]:
my_tup

('test', 0, 1)

In [ ]:
new_tup = my_tup + (0,)

In [ ]:
new_tup # what will new_tup be?

('test', 0, 1, 0)

In [ ]:
del my_tup[0]

TypeError: 'tuple' object doesn't support item deletion

### Tuple Unpacking and Packing

Tuple packing and unpacking refers to separating a tuple into variables or joining variables into a tuple. When unpacking `_` is used as a placeholder for a tuple value you do not care about using in further code.

In [ ]:
a,b,_ = my_tup # tuple unpacking

In [ ]:
print(a,b)

test 0 1

In [ ]:
new_tup = 1,2,3 # tuple packing

In [ ]:
new_tup

(1, 2, 3)

### Exercise:

1. Are tuples mutable or immutable?
2. Create a tuple of your and your coding partner's names, called `our_names`.
3. Change your name to the name of one of the other people at your table (Can you?)
4. Create a new tuple of `whole_table_names` with `our_names` and your other tablemate's names.
5. Unpack the tuple, using a placeholder for your own name
6. Print everyone else's names using the unpacked values.

## For loops and iterating through dictionaries

For loops let us repeat code when iterating through a dictionary, list, or a tuple.

In [ ]:
print(monkey_A.keys())
for k in monkey_A.keys():
    print(k,monkey_A[k])

dict_keys(['spiketimes', 'name', 'lab'])
spiketimes [0, 20, 34, 56]
name Einstein
lab Churchland

In [ ]:
print(monkey_A.items())# list of items



for key, value in monkey_A.items(): # combines tuple unpacking with items
    print(key, value)

# the above is equivalent to:
for item in monkey_A.items():
  key, value = item
  print(key, value)

dict_items([('spiketimes', [0, 20, 34, 56]), ('name', 'Einstein'), ('lab', 'Churchland')])
spiketimes [0, 20, 34, 56]
name Einstein
lab Churchland

In [ ]:
for i in range(6):
    print(i)

range(0, 6)
0
1
2
3
4
5

Look at the help information for range -- what does it do? Can you create for loop through a range like above that starts at 1 and stops at 7 (inclusive)?

Try below.

What about one that starts at 0 and ends at 6 (inclusive) where only every other number is iterated through? (Hint: use the step argument to range)

In [ ]:
print(teachers)
for i in range(len(teachers)):
  print(i, teachers[i])
  teachers[i] += 'n'

In [ ]:
teachers # what do you expect this to output?

['Abhin']

In [ ]:
for val in teachers: # directly iterate through the items in a list.
    print(val)

Abhin

With something called **list comprehension**, you can use a for loop in line to create dictionaries and lists like this:

In [ ]:
{x:x**2 for x in range(6)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
[x**2  for x in range(6) if x%2==0] # only uses x's where the condition is true

[0, 4, 16]

### Exercise:

1. Create a dictionary using list comprehension where the key is $x^3$ and the value is $x^2$ for x's between 1 and 4 inclusive. Assign the dictionary to variable `cube_square`.
2. Print the key and value for every key, value pair in `cube_square`
3. Create a list using list comprehension where any values between 2 and 10 inclusive that are divisible by 3 are added to the list. Assign the list to a variable called `divisible_3s`.
4. Using a for loop, print the index and the value at that index for every element in `divisible_3s`.